@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* 导入 markdown 样式模块 */
@import './styles/markdown/index.css';

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #E6CCFF;
}

::-webkit-scrollbar {
  display: none;
}